<section id="two">
    <div class="container">
      <h3>Skills</h3>
      <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer lorem ipsum dolor sit amet.</p>
      <ul class="feature-icons">
        <li class="icon solid fa-code">Full Stack developer</li>
        <li class="icon solid fa-cubes">Reparación y Mantenimiento de PC</li>
        <li class="icon solid fa-book">Ingles avanzado</li>
        <li class="icon solid fa-coffee">Sociable</li>
        <li class="icon solid fa-bolt">Disposición full-time</li>
        <li class="icon solid fa-users">Trabajo en equipo</li>
      </ul>
    </div>
  </section>