
		<!-- Header -->
    <section id="header">
      <header>
        <h1 id="logo"><a href="#">Alvaro Deveze</a></h1>
        <li>Analista de Sistemas</li> 
        <li>Full-Stack Developer</li>
      </header>
      <nav id="nav">
        <ul>
          <li><a href="#one" class="active">Acerca de mi</a></li>
          <li><a href="#two">Skills</a></li>
          <li><a href="#three">Proyectos</a></li>
          <li><a href="#four">Contacto</a></li>
        </ul>
      </nav>
      <footer>
        <ul class="icons">
          <li><a href="https://twitter.com/" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://facebook.com/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
          <li><a href="https://www.instagram.com/alvarodvc/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="https://github.com/alvarodvc" class="icon brands fa-github"><span class="label">Github</span></a></li>
          <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>
      </footer>
    </section>

  <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">

          <!-- One -->
          <app-acerca></app-acerca>

          <!-- Two -->
          <app-skills></app-skills>

          <!-- Three -->
          <app-proyectos></app-proyectos>

          <!-- Four -->
          <app-contacto></app-contacto>

        </div>

      <!-- Footer -->
        <section id="footer">
          <div class="container">
            <ul class="copyright">
              <li>Diseño: <a href="https://github.com/alvarodvc">Alvaro DEV</a></li>
            </ul>
          </div>
        </section>

    </div>