<section id="one">
    <div class="image main" data-position="center">
      <img src="assets/images/banner.jpg" alt="" />
    </div>
    <div class="container">
      <header class="major">
        <h2>Acerca de mi</h2>
        <p>Un breve resumen de mi perfil laboral.</p>
      </header>
      <p>Faucibus sed lobortis aliquam lorem blandit. Lorem eu nunc metus col. Commodo id in arcu ante lorem ipsum sed accumsan erat praesent faucibus commodo ac mi lacus. Adipiscing mi ac commodo. Vis aliquet tortor ultricies non ante erat nunc integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum.</p>
      <p><a href="/docs/CV.pdf">Descargar CV</a></p>
    </div>
  </section>